# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\andre\OneDrive\Desktop\Universidad semestre 3\Estructuras de datos y algoritmos 2\Mixed Sorting Parcial 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
